body {
  padding: 50px;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
	font-size: 30px;
}

.navbar-brand {
	font-size: 30px;
}

#form {
	margin: 70px;
}
