<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-controller="ProjectController">

    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Projects</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-click="form = true"><a href="#">Add a Project <span class="sr-only">(current)</span></a></li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
              </div>
              <!-- <button type="submit" class="btn btn-info">Submit</button> -->
            </form>
          </div><!-- /.navbar-collapse -->

        </div>
      </nav>
          
      

      <form id="form" ng-model="form" ng-show="form">
        <h1 ng-hide="edit">Add a Project</h1>
        <h1 ng-show="edit">Edit a Project</h1>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" ng-model="project.name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" ng-model="project.description" placeholder="Description">
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <input type="text" class="form-control" ng-model="project.tags" placeholder="Tags">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="project.group"> Group Project?
          </label>
        </div>
        <div class="form-group">
          <label for="group_members">Group Members</label>
          <input type="text" class="form-control" ng-model="project.group_members" placeholder="Group Members">
        </div>
        <div class="form-group">
          <label for="github">Github URL</label>
          <input type="text" class="form-control" ng-model="project.github" placeholder="Github URL">
        </div>
        <button type="submit" class="btn btn-info" ng-click="postProject(); form = false" ng-hide="edit">Submit</button>
        <button type="submit" class="btn btn-info" ng-click="updateProject(); form = false" ng-show="edit">Update</button>
      </form>

      <br>
      <div class="message-section" ng-show="success">
        <p class="alert alert-info" role="alert" id="message">{{ message }}</p>
      </div>
    
      <div class="container" id="project" ng-repeat="project in projects | filter:search">
        <div class="row">
          <div class="col-xs-2">
            <div type="button" class="btn btn-default" id="github">
              <h4><a ng-href="{{ project.github }}">Click Me<br>for<br>Github<br>Link</a></h4>
            </div>
          </div>
          <div class="col-xs-7">
            <h2>{{ project.name | uppercase }}</h2>
            <p>{{ project.description }}</p>
            <p>Technologies Used: {{ project.tags }}</p>
          </div>
          <div class="col-xs-3">
            <div id="two-buttons">
              <button ng-click="editProject(project._id); form = true" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button> <button ng-click="removeProject(project._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
            <p ng-if="project.group">Group Project: {{ project.group }}</p>
            <p ng-if="project.group">Group Members: {{ project.group_members }}</p>
          </div>
        </div>
      </div>

     <!--  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="editModal" ng-model="modal" ng-show="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="edit-project">Edit the Project</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" ng-model="project.name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" ng-model="project.description" placeholder="Description">
                </div>
                <div class="form-group">
                  <label for="tags">Tags</label>
                  <input type="text" class="form-control" ng-model="project.tags" placeholder="Tags">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="project.group"> Group Project?
                  </label>
                </div>
                <div class="form-group">
                  <label for="group_members">Group Members</label>
                  <input type="text" class="form-control" ng-model="project.group_members" placeholder="Group Members">
                </div>
                <div class="form-group">
                  <label for="github">Github URL</label>
                  <input type="text" class="form-control" ng-model="project.github" placeholder="Github URL">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" ng-click="updateProject()">Update</button>
            </div>
          </div>
        </div>
      </div> -->

    </div> <!-- close container -->


    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <!-- <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/i18n/angular-locale_zu.js'></script> -->
    

    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/directives.js" type="text/javascript"></script>
    <script src="/js/filters.js" type="text/javascript"></script>
    <script src="/js/services.js" type="text/javascript"></script>
    <script src="/js/controllers.js" type="text/javascript"></script>

  </body>

</html>